## Utilizing Pandas with Google Sheets Data

### Importing Google Sheet data into a Pandas Dataframe in your Python Environment

To connect to an existing Google Sheet on your account, use `open` and pass a parameter that is the name of your Google Sheet. In the example below, I use the [2017 US Legislators Google Sheet](https://docs.google.com/spreadsheets/d/1KK432FFgQ18lP-juSq10ae1ZX1lfa7FTELQFY9bDC38/edit#gid=152787366).

In [14]:
import pygsheets
import pandas as pd

In [3]:
gc = pygsheets.authorize('client_secret.json')
sh = gc.open('Legislators 2017')

Now that you've connected to the Google Sheet using the variable `sh`, you can select a specific sheet using `worksheet_by_title`. By doing this, `wks` now contains all the data in legislators-current.

In [4]:
wks = sh.worksheet_by_title('legislators-current')

In [5]:
wks

Now we can transform this into a Pandas Dataframe using `get_as_df()`.

In [6]:
df = wks.get_as_df()

In [7]:
df.head(3)

,last_name,first_name,birthday,gender,type,state,district,party,url,address,...,lis_id,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,,
0,Brown,Sherrod,11/9/1952,M,sen,OH,,Democrat,https://www.brown.senate.gov,713 Hart Senate Office Building Washington DC ...,...,S307,5051,400050,27018,Sherrod Brown,,29389,Sherrod Brown,,
1,Cantwell,Maria,10/13/1958,F,sen,WA,,Democrat,https://www.cantwell.senate.gov,511 Hart Senate Office Building Washington DC ...,...,S275,26137,300018,27122,Maria Cantwell,,39310,Maria Cantwell,,
2,Cardin,Benjamin,10/5/1943,M,sen,MD,,Democrat,https://www.cardin.senate.gov,509 Hart Senate Office Building Washington DC ...,...,S308,4004,400064,26888,Ben Cardin,,15408,Ben Cardin,,

Lets do some simple manipulations. Change the party to either blue or red depending on their political party.

In [8]:
# Complete some simple data manipulation
df['party'] = np.where(df.party == 'Democrat', 'Blue',
                       (np.where(df.party == 'Republican', 'Red', 'White')))

In [10]:
df.head(3)

,last_name,first_name,birthday,gender,type,state,district,party,url,address,...,lis_id,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,,
0,Brown,Sherrod,11/9/1952,M,sen,OH,,Blue,https://www.brown.senate.gov,713 Hart Senate Office Building Washington DC ...,...,S307,5051,400050,27018,Sherrod Brown,,29389,Sherrod Brown,,
1,Cantwell,Maria,10/13/1958,F,sen,WA,,Blue,https://www.cantwell.senate.gov,511 Hart Senate Office Building Washington DC ...,...,S275,26137,300018,27122,Maria Cantwell,,39310,Maria Cantwell,,
2,Cardin,Benjamin,10/5/1943,M,sen,MD,,Blue,https://www.cardin.senate.gov,509 Hart Senate Office Building Washington DC ...,...,S308,4004,400064,26888,Ben Cardin,,15408,Ben Cardin,,

### Exporting local Pandas data to Google Sheets

#### Overwriting an Existing Sheet

To overwrite a worksheet with your Pandas Dataframe, use `set_dataframe(dataframe, start, nan)` where the following parameters are:

* `dataframe`: the name of your Pandas Dataframe you are sending to Google Sheets
* `start`: the initial cell the data gets pasted into
* `nan`: If there is missing data, what should they replaced with

In our example above, we used the following:

`wks = sh.worksheet_by_title('legislators-current')`

Therefore we can do the following to have the data start at cell A1 and replace all missing data with blank cells:

In [11]:
wks.set_dataframe(df, start = "A1", nan = "")

#### Create a New Sheet and Place data into it

First you will need to create a new worksheet using `add_worksheet()` and then select it by using `worksheet_by_title()`. Lets create a new worksheet named `Sheet2`.

In [12]:
sh.add_worksheet('Sheet2')
second_wks = sh.worksheet_by_title('Sheet2')

Now you can copy the Dataframe you have into Sheet2 using `set_dataframe`.

In [13]:
second_wks.set_dataframe(df, start = "A1", nan = "")