# Importing and Exporting Data

Note these links lead to the Github wiki pages for this section

**[Importing Excel and CSV files into Python](https://github.com/kn-kn/python-guide/wiki/Importing-and-Exporting-Data#importing-excel-and-csv-files-into-python)**
* [Specifying Additional Parameters when Importing](https://github.com/kn-kn/python-guide/wiki/Importing-and-Exporting-Data#specifying-additional-parameters-when-importing)
* [Dates](https://github.com/kn-kn/python-guide/wiki/Importing-and-Exporting-Data#dates)
* [Selecting a specific Excel Sheet to Parse](https://github.com/kn-kn/python-guide/wiki/Importing-and-Exporting-Data#selecting-a-specific-excel-sheet-to-parse)
* [Skipping the First Row of Data](https://github.com/kn-kn/python-guide/wiki/Importing-and-Exporting-Data#skipping-the-first-row-of-data)
* [Create a DataFrame from your clipboard (right click + copy)](https://github.com/kn-kn/python-guide/wiki/Importing-and-Exporting-Data#create-a-dataframe-from-your-clipboard-right-click--copy)

**[Exporting Dataframes out of Python](https://github.com/kn-kn/python-guide/wiki/Importing-and-Exporting-Data#exporting-dataframes-out-of-python)**
* [Exporting Multiple Dataframes into a single Excel File](https://github.com/kn-kn/python-guide/wiki/Importing-and-Exporting-Data#exporting-multiple-dataframes-into-a-single-excel-file)

## Importing Excel and CSV files into Python

[Documentation for `read_excel()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

[Documentation for `read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

Assuming your file is in the following folder path: `C:/Desktop/My_File.xlsx`

In [1]:
import pandas as pd

**Importing an Excel File**

`df = pd.read_excel("C:/Desktop/My_File.xlsx")`

---

**Importing a CSV File**

`df = pd.read_csv("C:/Desktop/My_File.xlsx")`

### Specifying Additional Parameters when Importing

Additionally, depending on your file, you may want to add extra parameters. You can add multiple parameters within the function if you need to use more than one.

---

#### Dates

If your data has dates in its columns, then use `parse_dates`.

`df = pd.read_csv("C:/Desktop/My_File.csv", parse_dates=['Column_Name'])`

---

#### Selecting a specific Excel Sheet to Parse

If you want to specify which sheet to read (defaults to the first sheet in the file), use `sheet_name`.

`df = pd.read_excel("C:/Desktop/My_File.xlsx", sheet_name="My_Sheet_Name")`

---

#### Skipping the First Row of Data

In the event you want to skip the first 'n' rows of data, use `skiprows`.

`df = pd.read_csv("C:/Desktop/My_File.xlsx", skiprows = 1)`

#### Create a DataFrame from your clipboard (right click + copy)

Copy the data from sources like Excel or Google Sheets onto your clipboard (right click + copy).

![Data from Google Sheets](https://raw.githubusercontent.com/kn-kn/python-guide/master/Clipboard_Copying_Google_Sheets.PNG)

In [2]:
df = pd.read_clipboard()
df

Empty DataFrame
Columns: [missing_values_list, =, ["na",, "n/a",, "---"]]
Index: []

## Exporting Dataframes out of Python

[Documentation for `to_excel()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html)

1. To export a Dataframe, use `ExcelWriter()` and specify the Excel file name you want to call your file. Place this function into a variable. Below, we used `writer` as the variable name.
2. Use the `to_excel()` function with your variable in step 1) as one of the parameters. Optionally, you can specify the sheet name if you wish by adding the parameter `sheet_name`.
3. OPTIONAL: If you do not want the index in your file, add the `index=False` parameter.
4. Once you have completed all the additional parameters and settings, use `save()` to generate the file. The file will not save until you run this final `save()` command.

The code for the steps above is the following:

1. `writer = pd.ExcelWriter("My_Excel_File.xlsx")`
2. `df.to_excel(writer, sheet_name= 'Your_Sheet', index=False)`
3. `writer.save()`

---
#### Exporting Multiple Dataframes into a single Excel File

If you want to export multiple dataframes into a single Excel file, you can either:

1. Export multiple dataframes into a single sheet
2. Export multiple dataframes into their own respective sheets

In [3]:
raw_data = {
        'a': [0.200375, 0.335239],
        'b': [0.660791, 0.047238], 
        'c': [0.982966, 0.100290],
        'd': [0.064411, 0.588081],
        'e': [0.661058, 0.638270],
        'f': [0.554901, 0.267072],
        'g': [0.335719, 0.086147],
        'h': [0.223755, 0.358781],
        'i': [0.994539, 0.575719]}


df = pd.DataFrame(raw_data, columns = ['a', 'b', 'c'])
df2 = pd.DataFrame(raw_data, columns = ['d', 'e', 'f'])
df3 = pd.DataFrame(raw_data, columns = ['g', 'h', 'i'])

In [4]:
df

          a         b         c
0  0.200375  0.660791  0.982966
1  0.335239  0.047238  0.100290

In [5]:
df2

          d         e         f
0  0.064411  0.661058  0.554901
1  0.588081  0.638270  0.267072

In [6]:
df3

          g         h         i
0  0.335719  0.223755  0.994539
1  0.086147  0.358781  0.575719

**Export into a single sheet:**
* By default, pandas will place your dataframe into cell A1. You can specify the exact position to place your dataframe by using the parameters `startrow=` and `startcol=`.

In [7]:
writer = pd.ExcelWriter("My_Excel_File.xlsx")
df.to_excel(writer, startrow=0, startcol=0)
df2.to_excel(writer, startrow=4, startcol=0)
df3.to_excel(writer, startrow=8, startcol=1)
writer.save()

![Exporting into a Single Sheet](https://github.com/kn-kn/python-guide/blob/master/Writing%20to%20a%20single%20sheet.PNG?raw=true)

**Export into multiple sheets:**
* By default, pandas will place your dataframes into Sheet1. You can specify different sheet names to place your dataframe by using the parameter `sheet_name=`.

In [8]:
writer = pd.ExcelWriter("My_Excel_File2.xlsx")
df.to_excel(writer, sheet_name="Table 1")
df2.to_excel(writer, sheet_name="Other Sheet", startrow=2, startcol=0, index=False)
writer.save()

![Exporting into a Multiple Sheets](https://github.com/kn-kn/python-guide/blob/master/Writing%20to%20multiple%20sheets%20picture%201.PNG?raw=true)
![Exporting into a Multiple Sheets Picture 2](https://github.com/kn-kn/python-guide/blob/master/Writing%20to%20multiple%20sheets%20picture%202.PNG?raw=true)