# Working With Dates

Note these links lead to the Github wiki pages for this section

**[Importing Excel and CSV files with Dates](https://github.com/kn-kn/python-guide/wiki/Working-With-Dates/#importing-excel-and-csv-files-with-dates)**

**[Changing Date formats From One to Another](https://github.com/kn-kn/python-guide/wiki/Working-With-Dates/#changing-dates-formats-from-one-to-another)**
* [Changing a date that is an object/string to date - `to_datetime()`](https://github.com/kn-kn/python-guide/wiki/Working-With-Dates/#changing-a-date-that-is-an-object-or-string-to-date)
* [Changing Datetime to Date - `dt.date`](https://github.com/kn-kn/python-guide/wiki/Working-With-Dates/#changing-datetime-to-date)

**[Slicing/Filtering Data by Dates](https://github.com/kn-kn/python-guide/wiki/Working-With-Dates/#slicingfiltering-data-by-dates)**
* [By Boolean Slicing](https://github.com/kn-kn/python-guide/wiki/Working-With-Dates/#by-boolean-slicing)
* [Creating a new column based on dates - `np.where()`](https://github.com/kn-kn/python-guide/wiki/Working-With-Dates/#creating-a-new-column-based-on-dates)

---

## Importing Excel and CSV files with Dates

[Documentation for `read_excel()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

[Documentation for `read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

If your file is in the following folder path: `C:/Desktop/My_File.xlsx` and has dates in its columns, then use `parse_dates`.

`df = pd.read_csv("C:/Desktop/My_File.csv", parse_dates=['Column_Name'])`

---

## Changing Dates Formats From One to Another

### Changing a date that is an object or string to date

[Documentation for `to_datetime()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)

Sometimes, your date columns will not be read properly by Python and you will have to manually change it yourself.

**Use `to_datetime()` in the Pandas package.**

`df['column'] = pd.to_datetime(df['column'])`

**You can also pass a specific format if you wish.**

`df['column'] = pd.to_datetime(df['column'], format="%Y-%m-%d")`

The example above would successfully read a date format of `2019-05-22`.

The formatting can differ depending on how your date is displayed. Here is a table of commonly used codes:

| Directive | Meaning |
|-----------|---------|
| %d        | Day     |
| %m        | Month   |
| %Y        | Year    |
| %H        | Hour    |
| %M        | Minute  |
| %S        | Second  |

Some examples of dates are the following:

| Date                            | Example           | Formatting Required |
|---------------------------------|-------------------|-----------------------|
| Year-Month-Day                  | 2019-06-22        | %Y-%m-%d              |
| Day/Month/Year                  | 25/5/2015         | %d/%m/%Y              |
| YearMonthDay Hour:Minute:Second | 20180527 14:25:59 | %Y%m%d %H:%M:%S       |

---

### Changing Datetime to Date

Use `dt.date` on your column to extract only the day, month, and year parts of your date.

In [1]:
import pandas as pd
import numpy as np

# Prepare data for examples
raw_data = {'Date': ['2010-01-01 22:00:00', '2011-02-02 15:00:00', '2012-03-03 04:00:00',
                     '2013-04-04 09:15:00', '2014-05-05 01:00:00', '2015-06-06 05:18:00']}
        
df = pd.DataFrame(raw_data, columns = ['Date'])
df['Date'] = pd.to_datetime(df['Date'], format= '%Y-%m-%d %H:%M:%S')
df

                 Date
0 2010-01-01 22:00:00
1 2011-02-02 15:00:00
2 2012-03-03 04:00:00
3 2013-04-04 09:15:00
4 2014-05-05 01:00:00
5 2015-06-06 05:18:00

In [2]:
df['Date'] = df['Date'].dt.date
df

         Date
0  2010-01-01
1  2011-02-02
2  2012-03-03
3  2013-04-04
4  2014-05-05
5  2015-06-06

**Note:** the above code changes your dates column from a datetime type to an object. To keep it as a datetime type without the time, consider adding `to_datetime` in your code.

In [3]:
df.dtypes

Date    object
dtype: object

In [4]:
# Reset the data
df = pd.DataFrame(raw_data, columns = ['Date'])
df['Date'] = pd.to_datetime(df['Date'], format= '%Y-%m-%d %H:%M:%S')

# Apply to_datetime
df['Date'] = pd.to_datetime(df['Date'].dt.date)
df.dtypes

Date    datetime64[ns]
dtype: object

## Slicing/Filtering Data by Dates

### By Boolean Slicing

Slicing your data by dates works in the same manner as the examples found in the **Slicing, Filtering, and Merging** section of this guide.

In [5]:
# Prep Data
df = pd.DataFrame(raw_data, columns = ['Date'])
df['Date'] = pd.to_datetime(df['Date'], format= '%Y-%m-%d %H:%M:%S')
df

                 Date
0 2010-01-01 22:00:00
1 2011-02-02 15:00:00
2 2012-03-03 04:00:00
3 2013-04-04 09:15:00
4 2014-05-05 01:00:00
5 2015-06-06 05:18:00

In [6]:
df[df['Date'] > '2012-01-01']

                 Date
2 2012-03-03 04:00:00
3 2013-04-04 09:15:00
4 2014-05-05 01:00:00
5 2015-06-06 05:18:00

In [7]:
df[(df['Date'] >= '2014-05-05') | (df['Date'] < '2011-02-02')]

                 Date
0 2010-01-01 22:00:00
4 2014-05-05 01:00:00
5 2015-06-06 05:18:00

### Creating a new column based on dates

Create a new column based on the dates of another using `np.where()`

In [8]:
df['Result'] = np.where(df['Date'] > '2013-01-01', 'Relatively New', 'Very Old')
df

                 Date          Result
0 2010-01-01 22:00:00        Very Old
1 2011-02-02 15:00:00        Very Old
2 2012-03-03 04:00:00        Very Old
3 2013-04-04 09:15:00  Relatively New
4 2014-05-05 01:00:00  Relatively New
5 2015-06-06 05:18:00  Relatively New